.arsLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 3em;
    margin-bottom: 2em;
}
.arsDesc {
    text-align: left;
    margin-inline: 10%;
    color: white;
    font-size: 0.75em;
}
.ars-media {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    margin: 0.5em;
    font-size: 0.75em;
}
@media screen and (min-width: 400px) {
    .arsDesc {
        text-align: center;
        font-size: 1.2em;
    }
    .ars-media {
        flex-direction: row;
        margin: 6em;
        height: 400px;
        font-size: 1em;
    }
    img {
        margin-right: 2em;
    }
}
