.home--link {
    padding: 1rem;
    font-size: 3rem;
    color: var(--color-headings);
}

.home--link:hover {
    cursor: pointer;
}

video {
    border-radius: 15px;
}

.title, .p  {
    color: white;
    margin-top: 4rem;
}

.p {
    line-height: 3rem;
}

.github {
    margin-top: 1em;
}