*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Color Palette */
:root {
  --color-primary: #6c63ff;
  --color-secondary: #948fff;
  --color-dark-bkgrnd: #2f2e41 ;
  --color-light-bkgrnd: #262534;
  --color-body: #dedede;
  --color-body-darker: #a6a0bb;
  --color-body-primary: #f2f2f2;
  --color-accent: #ff3400;
  --color-headings: #ffd016;
  --color-headings--light: #ffffff;
  --color-border: #ccc;
  --border-radius: 30px;
}


a {
  text-decoration: none;
  color: var(--color-body-primary);
}

html,
body {
  overflow-x: hidden;
}

/* Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  position: relative;
  background-color:var(--color-light-bkgrnd);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Navigation */

.nav {
  align-items: center;
  background: var(--color-light-bkgrnd);
  display: flex;
  justify-content: space-around;
  padding: 0.25rem;
  border-bottom: 1px solid var(--color-primary);
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .block--dark {
    margin-top: 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .block--dark {
    margin-top: 18rem;
  }
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem .5rem;
  border-bottom: 1px solid #222;
  transition: color 0.3s;
}


@media screen and (min-width: 768px) {
  .nav__item {
    padding: 0.5rem 2rem;
  }
}

.nav__item > a {
  color: #d2d0db;
}

.nav__item > a:hover {
  color: #fff;
}

.contact:hover {
  background-color: var(--color-primary);
  color: white;
}

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }

  .contact {
    border: 2px solid var(--color-primary);
    border-radius: var(--border-radius);
    padding: 5px;
    transition: 0.25s ease-in-out;
  }

/* Icons */

.icon-container {
  align-items: center;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--white {
  fill: #fff;
}

.icon--primary {
  fill: var(--color-primary);
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
  text-decoration: none;
}


/* Grids */
.grid {
  display: grid;
  margin-bottom: 1rem;
  padding: 3rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Blocks */
.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block > h2 {
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-bottom: 6rem;
}

.block__header {
  text-align: center;
}



@media screen and (min-width: 1024px) {
  .block__header {
    height: 90vh;
  }
}


@media screen and (min-width: 1600px) {
  .block__header {
    height: 60vh;
  }
}

.block__heading {
  margin-top: 0;
  color:#ffd016;
}


.block--light {
  color: var(--color-body);
  border-bottom: 1px solid var(--color-dark-bkgrnd);
}

.block--dark {
  background:linear-gradient( var(--color-light-bkgrnd) 10%, var(--color-dark-bkgrnd));
  color: var(--color-body);
}

.footer { 
  background-color:var(--color-light-bkgrnd);
}

.block--primary {
  background: linear-gradient(-90deg, var(--color-primary), #3c32ff);
  color: var(--color-body-primary);
}


.block--skewed-right {
  clip-path: polygon(100% 5%, 0 0, 0 100%, 100% 100%);
  padding-bottom: calc(var(--padding-vertical) +4rem);
}

.block--skewed-left {
  clip-path: polygon(100% 0%, 0% 0% , 0% 92.04%, 1% 92.03%, 2% 92.01%, 3% 91.97%, 4% 91.91%, 5% 91.84%, 6% 91.76%, 7% 91.66%, 8% 91.55%, 9% 91.42%, 10% 91.28%, 11% 91.13%, 12% 90.96%, 13% 90.78%, 14% 90.58%, 15% 90.38%, 16% 90.16%, 17% 89.93%, 18% 89.69%, 19% 89.44%, 20% 89.18%, 21% 88.92%, 22% 88.64%, 23% 88.36%, 24% 88.07%, 25% 87.77%, 26% 87.47%, 27% 87.16%, 28% 86.85%, 29% 86.53%, 30% 86.21%, 31% 85.89%, 32% 85.57%, 33% 85.24%, 34% 84.92%, 35% 84.60%, 36% 84.28%, 37% 83.96%, 38% 83.64%, 39% 83.33%, 40% 83.02%, 41% 82.72%, 42% 82.42%, 43% 82.13%, 44% 81.85%, 45% 81.57%, 46% 81.31%, 47% 81.05%, 48% 80.80%, 49% 80.56%, 50% 80.33%, 51% 80.12%, 52% 79.91%, 53% 79.72%, 54% 79.54%, 55% 79.37%, 56% 79.21%, 57% 79.07%, 58% 78.94%, 79% 78.83%, 60% 78.73%, 61% 78.65%, 62% 78.58%, 63% 78.53%, 64% 78.49%, 65% 78.47%, 66% 78.46%, 67% 78.47%, 68% 78.49%, 69% 78.53%, 70% 78.59%, 71% 78.66%, 72% 78.74%, 73% 78.84%, 74% 78.95%, 75% 79.08%, 76% 79.22%, 77% 79.38%, 78% 79.54%, 79% 79.73%, 80% 79.92%, 81% 80.13%, 82% 80.34%, 83% 80.57%, 84% 80.81%, 85% 81.06%, 86% 81.32%, 87% 81.59%, 88% 81.87%, 89% 82.15%, 90% 82.44%, 91% 82.74%, 92% 83.04%, 93% 83.35%, 94% 83.66%, 95% 83.98%, 96% 84.30%, 97% 84.62%, 98% 84.94%, 99% 85.26%, 100% 85.58%)
}

@media screen and (min-width: 768px) {
  .block--skewed-left {
    clip-path: polygon(100% 0%, 0% 0% , 0% 72.04%, 1% 72.03%, 2% 72.01%, 3% 71.97%, 4% 71.91%, 5% 71.84%, 6% 71.76%, 7% 71.66%, 8% 71.55%, 9% 71.42%, 10% 71.28%, 11% 71.13%, 12% 70.96%, 13% 70.78%, 14% 70.58%, 15% 70.38%, 16% 70.16%, 17% 69.93%, 18% 69.69%, 19% 69.44%, 20% 69.18%, 21% 68.92%, 22% 68.64%, 23% 68.36%, 24% 68.07%, 25% 67.77%, 26% 67.47%, 27% 67.16%, 28% 66.85%, 29% 66.53%, 30% 66.21%, 31% 65.89%, 32% 65.57%, 33% 65.24%, 34% 64.92%, 35% 64.60%, 36% 64.28%, 37% 63.96%, 38% 63.64%, 39% 63.33%, 40% 63.02%, 41% 62.72%, 42% 62.42%, 43% 62.13%, 44% 61.85%, 45% 61.57%, 46% 61.31%, 47% 61.05%, 48% 60.80%, 49% 60.56%, 50% 60.33%, 51% 60.12%, 52% 59.91%, 53% 59.72%, 54% 59.54%, 55% 59.37%, 56% 59.21%, 57% 59.07%, 58% 58.94%, 59% 58.83%, 60% 58.73%, 61% 58.65%, 62% 58.58%, 63% 58.53%, 64% 58.49%, 65% 58.47%, 66% 58.46%, 67% 58.47%, 68% 58.49%, 69% 58.53%, 70% 58.59%, 71% 58.66%, 72% 58.74%, 73% 58.84%, 74% 58.95%, 75% 59.08%, 76% 59.22%, 77% 59.38%, 78% 59.54%, 79% 59.73%, 80% 59.92%, 81% 60.13%, 82% 60.34%, 83% 60.57%, 84% 60.81%, 85% 61.06%, 86% 61.32%, 87% 61.59%, 88% 61.87%, 89% 62.15%, 90% 62.44%, 91% 62.74%, 92% 63.04%, 93% 63.35%, 94% 63.66%, 95% 63.98%, 96% 64.30%, 97% 64.62%, 98% 64.94%, 99% 65.26%, 100% 65.58%)
  }
}


/* Hero */
.hero__tagline {
  font-size: 2rem;
  color: var(--color-body);
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
  margin-bottom: 6rem;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* Cards */
.card > a > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.375rem double black;
  transition: 300ms ease-in-out;
  background-color: whitesmoke;
  padding: 6rem;
  border-radius: 10%;
}

.brightness {
  filter: brightness(0.25);
  -webkit-filter: brightness(0.25);
}

.project  {
  border-radius: 10%;
}

.card > a > img:hover {
  box-shadow: 0 0 0 0.5rem var(--color-primary);
  cursor: pointer;
}

.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--color-headings);
  text-align: center;
}

.github {
  display: block;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.card__body > p {
  text-align: left;
}

/* Project Block */
.block-projects {
  margin-bottom: 5rem;
}
.block-projects .grid {
  gap: 8rem 4rem;
}

.block-projects .card {
  max-width: 500px;
  margin: 0 auto;
}

/* Projects */

.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6 {
  width: 300px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.375rem double black;
  transition: 300ms ease-in-out;
  background-color: white;
  padding: 6rem;

}

.project-1 {
  background-image: url("https://media.gq.com/photos/61aa416d7e718dbdfbf7e42c/master/w_1600%2Cc_limit/ZOA_Logos-22.png");
  background-position: center;
  background-size: cover;
  border-radius: 10%;
}

.project-2 {
  background-image: url("http://images.squarespace-cdn.com/content/v1/5325e79ae4b06acf70718257/1416264642417-SLL5539PUWV1FJYV6DPZ/Pacifica+Pizza+TD+Logo+White.png?format=750w");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 10%;
}

.project-6 {
  background-image: url("https://images.assetsdelivery.com/compings_v2/mmfcreative/mmfcreative2105/mmfcreative210500614.jpg");
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 10%;
}
  
  .project-1:hover,
  .project-2:hover,
  .project-3:hover,
  .project-4:hover,
  .project-5:hover,
  .project-6:hover  {
    box-shadow: 0 0 0 0.5rem var(--color-primary);
    cursor: pointer;
  }

  .project {
    padding: 1rem;
  }

  /* Media */
.media {
  display: flex;
  flex-direction: row;
}

.media--block {
  display: flex;
  flex-direction: row;
}

.media--block .grid {
  margin-bottom: 6rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
  fill: var(--color-primary);
}

.block--media {
  display: flex;
  flex-direction: column;
}

.block--media > h2 {
  margin-bottom: 12rem;
  text-align: center;
  color: white;
}

/* Contact */

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .icons {
    padding: 6rem 12rem;
  }
}
/* buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--stretched {
  padding-left: 16rem;
  padding-right: 16rem;
}

/* Callout */
.callout {
  padding: 8rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.callout--primary {
  color: var(--color-body);
}

.callout__heading {
  color: var(--color-headings);
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  align-self: center;
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius);
  padding: 5px;
  transition: 0.25s ease-in-out;
  padding: 4rem;
}

.callout .btn:hover {
  background-color: var(--color-primary);
  color: white;
}

.callout__content {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* Footer */

.footer {
  flex: 1;
  display: flex;              
  flex-wrap: wrap;         
  justify-content: center; 
}

.footer > p {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1rem;
  color : whitesmoke;
}